<style>
    .download-link {
        font-size: 16px;
    }
</style>
 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            {% if post.img != null %}
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            {% endif %}
                            {% if post.youtube-link != null %}
                            <iframe width="560" height="315" src={{post.youtube-link}} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            {% endif %}
                            <p>{{ post.description }}</p>
                            <p style="font-weight: bold; margin-bottom: 10px; font-size: 24px;">More Resources</p>
                            <ul class="list-inline item-details">
                                {% if post.readme-link != null %}
                                <li>
                                    <strong>
                                        <a class="download-link" target="_blank" href={{post.readme-link}}>README</a>
                                    </strong>
                                </li>
                                {% endif %}
                                {% if post.ppt-link != null %}
                                <li>
                                    <strong>
                                        <a class="download-link" target="_blank" href={{post.ppt-link}}>PRESENTATION</a>
                                    </strong>
                                </li>
                                {% endif %}
                                {% if post.report-link != null %}
                                <li>
                                    <strong>
                                        <a class="download-link" target="_blank" href={{post.report-link}}>REPORT</a>
                                    </strong>
                                </li>
                                {% endif %}
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
